.form__type_search{
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 19px 30px 19px 19px;
  background-color: #F9F9F9;
  border-radius: 9px;
}
.form__input_type_search{
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  background-color: #F9F9F9;
  color: #A0A0A0;
  padding: 0 0 0 10px;
}
.form__submit_type_search{
  background-image: url("../../images/submit-btn-search-form.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3456F3;
  min-height: 34px;
  min-width: 34px;
  border-radius: 48px;
  margin: 0 30px 0 0;
}
.search-icon{
  max-height: 32px;
  max-width: 32px;
}

