.form__type_search{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 19px 30px 19px 19px;
  background-color: #F9F9F9;
  border-radius: 9px;
}
.form__input_type_search{
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  background-color: #F9F9F9;
  color: #A0A0A0;
  padding: 0 0 0 10px;
  flex: 1 0 auto;
}
.form__submit{
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.form__submit_type_search{
  background-image: url("../../images/submit-btn-search-form.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3456F3;
  height: 34px;
  width: 34px;
  border-radius: 48px;
  margin: 0 30px 0 0;
}
.search-icon{
  max-height: 32px;
  max-width: 32px;
}
@media screen and (max-width:650px) {
  .form__type_search{
    flex-direction: column;
    border-radius: 9px;
  }
  .search-icon{
    display: none;
  }
  .form__field__type_search{
    width: 100%;
    border-radius: 9px;
  }
  .form__submit_type_search{
    margin: 0;
  }
}
@media screen and (max-width:500px) {
  .form__input_type_search{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
