@import "/src/vendor/fonts/fonts.css";
.page {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
